:root {
  --main-background: #19283f;
  --main-color: #33d1cc;
  --main-background-button: #ff3150;
  --main-color-button: #ffc400;
  --section-color: #eff7fa;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Start globel varible */
body {
  font-family: 'Roboto', sans-serif;
}
.heading .info-box::before {
  content: '';
  position: absolute;
  width: 11%;
  height: 2px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-52%);
  background-color: var(--main-color);
}
/* End globel varible */
/* strat nav */
.navbar {
  background-color: var(--main-background);
}
.navbar .navbar-nav .nav-link {
  color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--main-color);
}
.navbar .search {
  border-left: 1px solid var(--main-color);
}
.navbar .search svg {
  color: var(--main-color);
}
.navbar .navbar-toggler {
  font-size: 25px;
  color: white;
  border: 1px solid white;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded = "true"] { /* معناها لو الالكلاس دا الداته الي فيه لو بتساوي صح نفس الامر دا */
  border: 1px solid var(--main-color);
}
.main-btn {
  background-color: var(--main-background-button);
  color: var(--main-color-button);
  border-radius: 50rem;
  padding: 0.5rem 1rem;
  transition: 0.3s;
  text-decoration: none;
}
.main-btn:hover {
  background-color: var(--main-background-button);
  color: var(--main-color-button);
}
/* End nav */
/* Strat landing */
.landing {
  background-color: var(--main-background);
  color: #f8f9fa;
  height: calc(100vh - 72px);
  position: relative;
}
.landing .box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
/* End landing */
/* Start featurs */
.featurs .icon-holder {
  height: 200px;
}
.featurs .icon-holder .number {
  font-size: 12rem;
  color: var(--section-color);
}
.featurs .icon-holder svg {
  left: 50%;
  transform: translateX(-50%);
}
.featurs .icon-holder .icon {
  color: var(--main-color);
}
.featurs .feet h4 {
  color: var(--main-color-button);
}
/* End featurs */
/* Start our-work */
.our-work {
  background-color: var(--section-color);
}
.our-work ul {
  list-style: none;
}
.our-work ul li {
  cursor: pointer;
  transition: 0.3s;
}
.boxs {
  overflow: hidden;
}
.boxs::before {
  content: attr(data-work);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  transform: translateX(calc(-100% - 16px));
  background-color: #33d1cc94;
  color: white;
  font-size: 24px;
  font-weight: bold;
  transition: 0.3s;
}
.boxs:hover.boxs::before{
  transform: translateX(0);
}
/* End our-work */
/* End stuff */
.stuff .discription {
  width: 500px;
}
/* End stuff */
/* Start Team */
.Team {
  background-color: var(--section-color);
}
.Team .head-team h2 {
  color: var(--main-color-button);
}
.Team h4 {
  background-color: var(--main-color);
  color: white;
}
/* End Team */
/* Start Project */
.Project {
  background-color: var(--main-background);
  color: white;
}
/* End Project */
/* Start Subscribe */
.Subscribe {
  background-color: var(--main-color-button);
}
.Subscribe .row input[type="text"] {
  border: none;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid white;
  padding: 8px;
}
.Subscribe .row input[type="submit"] {
  background-color: var(--main-background);
  color: var(--main-color-button);
  outline: none;
}
.Subscribe .row input[type="text"]:focus {
  outline: none;
}
.Subscribe .row input[type="text"]::placeholder {
  color: white;
  transition: 0.5s;
}
.Subscribe .row input[type="text"]:focus::placeholder  {
  opacity: 0;
}
/* End Subscribe */
/* Start footer */
footer {
  background-color: var(--main-background);
}
footer .row .copyRight span {
  color: var(--main-color);
}
footer .row .copyRight p span {
  color: var(--main-color-button);
}
ul  {
  list-style: none;
}
footer ul svg {
  width: 20px;
  height: 20px;
}
footer .facebook {
  background-color: #1877f2;
}
footer .twitter {
  background-color: #1da1f2;
}
footer .linkedin {
  background-color: #0077b5;
}
footer .youtube {
  background-color: #ff0000;
}
/* End footer */